/********************************/
/*              GENERAL BODY    */
/********************************/
 body {
     background: lightblue
}

h1 {
    color: white;
    text-align: center;
}

bollywood movies {
    font-family: arial;
    font-size: 40px;
}

header {
    width: 100%;
    height: 100px;
}

h1 {

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px
    padding: 0;
    line-height: 100px;
}

/********************************/
/*           NAVIGATION         */
/********************************/

nav, ul {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: orange;
}

ul {
    height: 100%;
    background-color: orange;
    list-style-type: none;
}

li {
    display: block;
    float: left;
    
    height: 100%;
    width: 20%;

    text-align: center;

    line-height: 50px;
}

a {
    display: block;
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    background-color: navy;
}

/********************************/
/*         BODY OF PAGE         */
/********************************/

aside {
    width: 15%;
    height: calc(100% - 150px);
    float:left;

    background-color: darkblue;
}

.center {
    width: 70%;
    height: calc(100% - 150px);
    float:left;

    background-color: lightblue;
    overflow: auto;
}

/********************************/
/*            IMAGES            */
/********************************/

.movies {
    margin: 0 auto;
    margin-top: 50px;
    
    width: 80%;
    height:290px;
    background-color: darkgray;

    overflow: auto;
}
.image{
    float: right;
    padding: 10px;
    margin: 50px;
}
.posters {
    float: left;
    width: 30%;
    height: 600px;
    margin: 20px;
    margin-left: 80px;
    margin-right: 40px;
}
.text{
    float: right;
    text-align: left ;
    margin: 50px;
    width: 40%;
}
.img-with-text {
    text-align: justify;
    width:40%;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
/********************************/
/*            TABLES            */
/********************************/

.release-date {
    margin: 0 auto;
    margin-top: 50px;
    
    width: 70%;
    height:auto;
    background-color: darkgray;
}

table {

    width: 100%;
    border: 1px solid #222;
}

tr, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
}

/********************************/
/*            TRAILERS          */
/********************************/

article {
    position: relative;

    margin: 0 auto;
    margin-top: 50px;
    
    width: 60%;
    height:220px;
    background-color: darkgray;
}
.trailer {
    width: 50%;
    height: 100%;
    float: left;
}

iframe {
    width: 100%;
    text-align: left;
}